---
layout: page
---
<!-- Top -->
<% page.posts.each(function(post){ %>
    <% if (post.top) { %>

        <div class="post-preview">

            <a href="<%- config.root %><%- post.path %>">
                <h2 class="post-title">
                    <img class="top_logo" src="/img/tp.png"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;<%- post.title || "Untitled" %>
                </h2>
                <h3 class="post-subtitle">
                    <%- post.subtitle || "" %>
                </h3>
                <div class="post-content-preview">
                    <%- truncate(strip_html(post.content), {length: 200, omission: '...'}) %>...
                </div>
            </a>

        </div>
        <hr>

    <% } %>
<% }); %>


<!-- Main Content -->
<% page.posts.each(function(post){ %>
    <% if (!post.top) { %>

        <div class="post-preview">

            <a href="<%- config.root %><%- post.path %>">
                <h2 class="post-title">
                    <%- post.title || "Untitled" %>
                </h2>
                <h3 class="post-subtitle">
                    <%- post.subtitle || "" %>
                </h3>
                <div class="post-content-preview">
                    <%- truncate(strip_html(post.content), {length: 200, omission: '...'}) %>...
                </div>
            </a>

        </div>
        <hr>

    <% } %>
<% }); %>


<!-- Pager -->

<ul class="pager">
    <% if (page.prev){ %>
        <li class="previous">
            <a href="<%- config.root %><%- page.prev_link %>">&larr; Newer Posts</a>
        </li>
    <% } %>
    <% if (page.next){ %>
        <li class="next">
            <a href="<%- config.root %><%- page.next_link %>">Older Posts &rarr;</a>
        </li>
    <% } %>
</ul>

